## Words

In [10]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
import string
type(words)

list

**Print every word in upper case**

In [19]:
words2 = str(words)
words2.upper()

"['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']"

**Create a new list containing only words with 5 or more letters**

In [1]:
lista = []

In [20]:
palabra = input("escribe una palabra ")
if len(palabra) >= 5:
    lista.append(palabra)
else:
    print(f"corta pero fina")
print(lista)

escribe una palabra holi
corta pero fina
['chorizo', 'merequetengue', 'hOyEsVieRNesðŸ˜ˆ', 'a si?', 'estrambolico', 'torreznos', 'torrijas']

In [55]:
lista = ['chorizo', 'merequetengue', 'hOyEsVieRNesðŸ˜ˆ', 'a si?', 'estrambolico', 'torreznos', 'torrijas']

**Print the first word starting with "t"**

In [61]:
for l in lista:
    if l.startswith("t"):
        print(l)
        break

torreznos

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [101]:
import random
lista2 = random.sample(range(1, 11),10)
lista2

[4, 9, 1, 3, 7, 6, 10, 5, 8, 2]

In [98]:
lista3 = list(range(1,11))
lista3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
lista3 = [pow(x,2) for x in lista3]
lista3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [138]:
import random
lista2 = random.sample(range(1, 11),10)
listaodd = []
lista2

[10, 2, 7, 9, 8, 4, 1, 6, 3, 5]

In [145]:
lista2

[7, 9, 1, 3, 5]

In [144]:
for x in lista2:
    if x % 2== 0:
        lista2.remove(x)

**Create a list with the squares of all multiples of 8 below 1000**

In [174]:
lista4 = []
lista5 = random.sample(range(0,1001),1000)
lista5

[288,
 506,
 351,
 975,
 101,
 195,
 123,
 74,
 257,
 380,
 167,
 787,
 282,
 691,
 882,
 346,
 788,
 688,
 769,
 38,
 339,
 621,
 793,
 610,
 941,
 657,
 744,
 909,
 796,
 219,
 461,
 426,
 286,
 775,
 83,
 155,
 475,
 695,
 362,
 387,
 857,
 991,
 529,
 722,
 832,
 673,
 108,
 588,
 837,
 750,
 14,
 534,
 801,
 175,
 197,
 448,
 630,
 918,
 830,
 596,
 473,
 542,
 238,
 754,
 109,
 960,
 47,
 440,
 957,
 367,
 487,
 520,
 302,
 810,
 858,
 227,
 79,
 453,
 261,
 23,
 416,
 527,
 60,
 36,
 737,
 906,
 275,
 3,
 128,
 204,
 379,
 962,
 281,
 647,
 870,
 651,
 293,
 270,
 333,
 133,
 412,
 217,
 106,
 70,
 531,
 221,
 253,
 662,
 507,
 887,
 741,
 291,
 583,
 633,
 241,
 301,
 1000,
 770,
 525,
 980,
 88,
 768,
 563,
 638,
 312,
 428,
 62,
 871,
 809,
 838,
 86,
 29,
 404,
 818,
 878,
 242,
 582,
 849,
 391,
 171,
 598,
 817,
 200,
 955,
 718,
 619,
 431,
 289,
 331,
 591,
 829,
 600,
 28,
 548,
 797,
 8,
 807,
 869,
 920,
 184,
 493,
 16,
 236,
 370,
 145,
 141,
 824,
 198,
 725,
 549,
 597,
 893,
 40,
 290,
 516,
 945,
 203,
 566,
 265,
 748,
 625,
 41,
 604,
 443,
 988,
 572,
 146,
 712,
 835,
 976,
 544,
 846,
 827,
 7,
 608,
 438,
 260,
 615,
 49,
 183,
 300,
 228,
 687,
 586,
 513,
 860,
 913,
 592,
 968,
 658,
 933,
 150,
 528,
 723,
 981,
 587,
 361,
 502,
 589,
 923,
 551,
 115,
 584,
 181,
 611,
 699,
 617,
 943,
 559,
 196,
 399,
 627,
 693,
 995,
 702,
 43,
 569,
 235,
 266,
 102,
 55,
 187,
 462,
 879,
 292,
 213,
 321,
 45,
 664,
 107,
 410,
 489,
 676,
 259,
 614,
 192,
 575,
 359,
 853,
 78,
 269,
 100,
 408,
 743,
 273,
 172,
 707,
 439,
 283,
 122,
 697,
 31,
 785,
 922,
 689,
 543,
 371,
 518,
 95,
 790,
 685,
 295,
 180,
 304,
 555,
 294,
 449,
 132,
 782,
 948,
 982,
 382,
 749,
 256,
 828,
 401,
 665,
 225,
 138,
 533,
 646,
 341,
 727,
 863,
 692,
 624,
 457,
 476,
 226,
 696,
 383,
 562,
 215,
 468,
 82,
 890,
 704,
 427,
 386,
 815,
 421,
 99,
 393,
 847,
 263,
 641,
 526,
 48,
 720,
 222,
 819,
 72,
 447,
 68,
 681,
 336,
 844,
 683,
 305,
 211,
 822,
 320,
 366,
 709,
 798,
 298,
 50,
 648,
 52,
 121,
 774,
 865,
 767,
 385,
 903,
 338,
 740,
 430,
 779,
 580,
 59,
 629,
 182,
 950,
 450,
 746,
 429,
 13,
 118,
 358,
 679,
 177,
 897,
 874,
 372,
 350,
 332,
 480,
 240,
 355,
 129,
 285,
 645,
 517,
 585,
 26,
 267,
 188,
 90,
 166,
 25,
 939,
 110,
 536,
 703,
 802,
 254,
 993,
 581,
 419,
 573,
 396,
 655,
 996,
 299,
 58,
 734,
 274,
 539,
 961,
 540,
 552,
 464,
 363,
 471,
 603,
 684,
 262,
 674,
 190,
 2,
 729,
 140,
 143,
 969,
 306,
 422,
 356,
 590,
 972,
 733,
 930,
 541,
 248,
 85,
 486,
 12,
 701,
 825,
 820,
 0,
 947,
 130,
 151,
 640,
 354,
 716,
 512,
 677,
 501,
 318,
 278,
 538,
 556,
 921,
 708,
 554,
 637,
 206,
 804,
 472,
 745,
 994,
 735,
 437,
 491,
 850,
 349,
 279,
 463,
 772,
 314,
 147,
 348,
 436,
 739,
 730,
 944,
 698,
 334,
 806,
 661,
 159,
 390,
 230,
 786,
 634,
 46,
 808,
 243,
 904,
 193,
 42,
 329,
 414,
 323,
 120,
 317,
 607,
 495,
 714,
 864,
 81,
 514,
 337,
 142,
 905,
 966,
 843,
 347,
 761,
 21,
 700,
 773,
 479,
 859,
 310,
 322,
 340,
 813,
 732,
 895,
 711,
 357,
 191,
 986,
 251,
 616,
 144,
 61,
 311,
 403,
 866,
 152,
 989,
 319,
 441,
 149,
 717,
 35,
 451,
 924,
 389,
 432,
 32,
 861,
 126,
 578,
 470,
 71,
 954,
 73,
 364,
 165,
 579,
 199,
 778,
 173,
 892,
 103,
 656,
 937,
 93,
 381,
 234,
 53,
 510,
 413,
 54,
 834,
 156,
 971,
 762,
 899,
 967,
 500,
 465,
 898,
 315,
 208,
 612,
 606,
 330,
 508,
 755,
 66,
 594,
 186,
 789,
 925,
 867,
 522,
 246,
 970,
 435,
 523,
 953,
 985,
 63,
 229,
 483,
 751,
 851,
 742,
 56,
 96,
 623,
 926,
 547,
 557,
 136,
 946,
 178,
 931,
 907,
 605,
 373,
 11,
 469,
 811,
 210,
 724,
 885,
 423,
 459,
 675,
 154,
 460,
 111,
 205,
 394,
 116,
 721,
 668,
 659,
 618,
 420,
 400,
 158,
 303,
 378,
 568,
 233,
 76,
 519,
 113,
 558,
 224,
 434,
 935,
 237,
 98,
 511,
 550,
 826,
 484,
 984,
 660,
 194,
 758,
 927,
 873,
 672,
 368,
 979,
 977,
 24,
 160,
 91,
 650,
 250,
 891,
 731,
 490,
 636,
 567,
 880,
 537,
 481,
 736,
 842,
 663,
 34,
 593,
 959,
 335,
 965,
 466,
 642,
 856,
 345,
 433,
 112,
 886,
 189,
 201,
 535,
 232,
 764,
 875,
 852,
 499,
 418,
 932,
 124,
 792,
 631,
 781,
 18,
 169,
 628,
 565,
 92,
 911,
 218,
 39,
 264,
 252,
 777,
 938,
 276,
 574,
 639,
 454,
 94,
 220,
 411,
 757,
 753,
 417,
 682,
 964,
 17,
 214,
 474,
 406,
 125,
 889,
 719,
 998,
 949,
 504,
 168,
 814,
 51,
 833,
 44,
 446,
 153,
 284,
 532,
 644,
 987,
 80,
 67,
 424,
 577,
 910,
 912,
 669,
 377,
 324,
 784,
 75,
 816,
 613,
 407,
 148,
 452,
 571,
 297,
 207,
 37,
 216,
 934,
 1,
 231,
 901,
 344,
 343,
 794,
 883,
 888,
 812,
 308,
 114,
 799,
 19,
 57,
 162,
 137,
 622,
 545,
 509,
 951,
 247,
 915,
 4,
 671,
 87,
 405,
 917,
 170,
 455,
 841,
 771,
 442,
 245,
 649,
 626,
 496,
 10,
 20,
 936,
 409,
 706,
 89,
 570,
 680,
 652,
 384,
 202,
 488,
 710,
 268,
 209,
 505,
 249,
 30,
 670,
 997,
 752,
 22,
 713,
 307,
 352,
 524,
 845,
 164,
 369,
 521,
 854,
 15,
 327,
 776,
 805,
 402,
 654,
 478,
 643,
 398,
 271,
 902,
 765,
 376,
 840,
 395,
 546,
 916,
 212,
 6,
 365,
 896,
 482,
 239,
 876,
 602,
 836,
 705,
 119,
 601,
 653,
 163,
 244,
 161,
 599,
 803,
 458,
 255,
 800,
 179,
 477,
 353,
 862,
 983,
 576,
 942,
 309,
 397,
 498,
 77,
 316,
 848,
 686,
 760,
 485,
 415,
 780,
 990,
 929,
 738,
 223,
 956,
 296,
 277,
 666,
 497,
 877,
 503,
 127,
 900,
 69,
 425,
 609,
 176,
 564,
 5,
 467,
 795,
 952,
 65,
 392,
 494,
 958,
 134,
 33,
 766,
 325,
 445,
 823,
 839,
 360,
 747,
 157,
 117,
 973,
 963,
 9,
 97,
 444,
 678,
 726,
 515,
 872,
 978,
 388,
 632,
 756,
 667,
 881,
 999,
 456,
 280,
 342,
 690,
 894,
 287,
 174,
 595,
 974,
 375,
 135,
 919,
 131,
 831,
 105,
 530,
 561,
 728,
 492,
 272,
 821,
 313,
 84,
 914,
 328,
 908,
 763,
 553,
 185,
 560,
 928,
 715,
 326,
 620,
 27,
 374,
 868,
 139,
 940,
 884,
 258,
 783,
 759,
 694,
 855,
 64,
 791,
 992,
 104]

In [175]:
for x in lista5:
    if x%8 == 0:
        lista4.append(x)

In [176]:
print(sorted(lista4))

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

## People

In [101]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "LucÃ­a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [82]:
nombres = []
for i in people:
    nombres.append(i)
    print(i["name"])
print(len(nombres), " ", "nombres en la lista")

Juan
Pepe
Sonia
LucÃ­a
Leo
5   nombres en la lista

**How many people have kids**?

In [84]:
niÃ±os = []
for i in people:
    if i["n_kids"] != 0:
        niÃ±os.append(i)
        
print(len(niÃ±os), " ", "personas tienen niÃ±os")

4   personas tienen niÃ±os

**How many kids do they have in total?**

In [96]:
total = []
for i in niÃ±os:
    total.append(i["n_kids"])
    
print(sum(total), "putos niÃ±os")

10 putos niÃ±os

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [109]:
people1 = []
for i in people:
    i["age"]+1
  


#ðŸ¤”ðŸ¤”ðŸ¤¯ me ha petado un poco la cabeza con este

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'LucÃ­a', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]